.hireTop {
  display: flex;
  align-items: center;
  height: 200px;
  padding-left: 30px;
  width: 80vw;
}
.content-box {
  width: 80vw;
  height: 100vh;
}
@media screen and (max-width: 480px) {
  .content-box {
    width: 100vw;
    height: 150vh;
  }
  .hireTop {
    display: flex;
    margin-top: 90px;
    align-items: center;
    width: 100vw;
  }
}
