.favcards {
  width: 338px;
  height: 304px;
  left: calc(37% - 238px / 2 - 256px);
  top: 220px;

  background: #ffff;
  border-radius: 10px;
  margin-top: 30px;
}
.favcardContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 29px;
  justify-content: space-between;
}
@media screen and (max-width: 1700px) {
  .favcardContainer {
    /* background-color: navy; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 29px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 870px) {
  .favcardContainer {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (max-width: 680px) {
  .favcardContainer {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .favcardContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .favcards {
    margin-top: 160px;
    width: 258px;
    height: 174px;
    left: calc(37% - 238px / 2 - 256px);
    top: 220px;
    border-radius: 10px;
  }
}
.favfoot {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  margin-top: 130px;
}
.favselectbar {
  width: 250px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.favflagimg {
  margin-left: 10px;
}
.favflagimg img {
  width: 30px;
  height: 20px;
}
.favdropdown {
  margin-right: 10px;
}
.favflagname {
  margin-right: 60px;
  font-size: large;
}
.favselectbar2 {
  width: 250px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  border: 1px solid gray;
  align-items: center;
  justify-content: space-between;
}
.favselectbar3 {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.favselectbar3:hover {
  background-color: rgb(214, 209, 209);
}
.favselectopt {
  width: 250px;
  height: 15rem;
  background-color: rgb(225, 225, 225);
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}
.favoption1 {
  background-color: gray;
}
.favflagname2 {
  margin-right: 60px;
  font-size: large;
}
.favflagimg2 {
  margin-left: 10px;
}
.favflagimg2 img {
  width: 30px;
  height: 20px;
}
.favdropdown2 {
  margin-right: 10px;
}

.favflagimg3 {
  margin-left: 10px;
}
.favflagimg3 img {
  width: 30px;
  height: 20px;
}
.favdropdown3 {
  margin-right: 10px;
}
