.loader {
  animation: rotate 3s linear infinite;
}
.circle {
  border: 2px dotted rgb(0, 0, 0);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
