.cards {
  width: 338px;
  height: 304px;
  left: calc(37% - 238px / 2 - 256px);
  top: 220px;
  margin-top: 30px;
  background: #ffff;
  border-radius: 10px;
}
.cardContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 29px;
  justify-content: space-between;
}
.cardInfo {
  justify-content: space-between;
  display: flex;
}
.hire {
  color: #1d9bf0;
  font-weight: bolder;
  margin-top: 30px;
}
@media screen and (max-width: 1700px) {
  .cardContainer {
    background-color: navy;
    width: 80vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 29px;
    justify-content: space-between;
  }
  .big {
    background-color: red;

    height: 50px;
    position: absolute;
    margin-left: 17rem;
  }
}
@media screen and (max-width: 870px) {
  .cardContainer {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (max-width: 680px) {
  .cardContainer {
    background-color: blue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .cardContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cards {
    margin-top: 160px;
    width: 258px;
    height: 174px;
    left: calc(37% - 238px / 2 - 256px);
    top: 220px;

    border-radius: 10px;
  }
  .big {
    background-color: red;

    height: 50px;
    position: absolute;
    margin-left: 17rem;
  }
  .foot {
    display: flex;
    justify-content: space-between;

    width: 400px;
    height: 100px;
    margin-top: 130px;
  }
  .notcolored {
    background-color: red;
    margin-left: 25%;
    margin-top: 10px;
    width: 40px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
  }

  .colored {
    background-color: white;
    margin-left: 25%;
    margin-top: 10px;
    width: 40px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
  }
  .colored:hover {
    background-color: white;
    fill: red;
  }
  .colored svg {
    fill: red;
  }
}
.foot {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-top: 130px;
}
.selectbar {
  width: 230px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flagimg {
  margin-left: 10px;
}
.flagimg img {
  width: 30px;
  height: 20px;
}
.dropdown {
  margin-right: 10px;
}
.flagname {
  margin-right: 60px;
  font-size: large;
}
.selectbar2 {
  width: 230px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  border: 1px solid gray;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}
.selectbar3 {
  width: 230px;
  height: 40px;
  /* background-color: green; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selectbar3:hover {
  background-color: rgb(214, 209, 209);
}
.selectopt {
  width: 230px;
  height: 15rem;
  background-color: rgb(225, 225, 225);
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}
.option1 {
  background-color: gray;
}
.flagname2 {
  margin-right: 60px;
  font-size: large;
}
.flagimg2 {
  margin-left: 10px;
}
.flagimg2 img {
  width: 30px;
  height: 20px;
}
.dropdown2 {
  margin-right: 10px;
}

.flagimg3 {
  margin-left: 10px;
}
.flagimg3 img {
  width: 30px;
  height: 20px;
}
.dropdown3 {
  margin-right: 10px;
}
.notcolored {
  background-color: #bbbbbb;
  margin-left: 15%;
  margin-top: 10px;
  width: 40px;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
}
.notcolored svg {
  fill: white;
}

.colored {
  background-color: white;
  margin-left: 15%;
  margin-top: 10px;
  width: 40px;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
}

.colored svg {
  fill: red;
}
